.card-header {
  padding: 10px 15px!important;
  background: #ebebeb;
  cursor: pointer;
}

.panel-body {
  border: 1px solid #ebebeb;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  height: 0;
  padding: 0;
}

.shown {
  .panel-body {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    height: auto;
  }
}
span.hljs-* {
  display: block!important;
}

pre{
  white-space:normal;
}

pre code {
  white-space:pre;
  height: 300px;
}

.white-spec {
  white-space: break-spaces!important;
}

h6 {
  font-weight: 500;
}
