<div>
  <div class="text-center">
    <img class="logo" alt="logo; webhook mocker" src="assets/images/logos/logo.png">
  </div>
  <div class="mt-2 mb-2">
    <h6 class="text-center">
      Webhook requests mocking and testing in real-time.
      <br>
      You just need to input simple subdomain to generate you Webhook URL address.
    </h6>
  </div>
  <div [formGroup]="form" class="d-flex justify-content-center align-items-center">
    <div class="url-container">
      <div class="input-group mb-3">
        <input formControlName="subdomain" type="text" class="subdomain-input form-control" placeholder="subdomain">
        <button class="btn btn-primary" type="button">.{{ host }}</button>
      </div>
      <div class="text-center mt-4">
        <button (click)="generate()" [disabled]="form.invalid" class="btn btn-info">
          <fa-icon [icon]="generateIcon" class="me-2"></fa-icon>
          <span class="d-inline-block">Generate URL</span>
        </button>
      </div>
    </div>
  </div>
</div>
